:root {
  --bg-color: #282829;
  --main-font: "Arial", sans-serif;
  --accent-font: "Prata", sans-serif;
  --text-color: #fff;
  --dark-color: #222;
  --form-title-color: #38535d;
  --line-color: #d5c9be;
  --checkbox-text-color: #55565a;
  --border-color: #d6d6d6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page {
  min-inline-size: 360px;
  background-color: var(--bg-color, #282829);
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color, #fff);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

button:hover,
a:hover {
  cursor: pointer;
  opacity: 0.7;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

/*HEADER*/
.header {
  background-color: var(--dark-color, #222);
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.header__text-info {
  padding: 35px 0 0 165px;
}

.header__wrapper {
  display: flex;
  gap: 211px;
  padding-bottom: 94px;
}

.logo {
  font-family: var(--accent-font, sans-serif);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.header__list {
  display: flex;
  gap: 26px;
  padding: 13px 0;
}

.header__list-item {
  text-transform: uppercase;
  font-size: 16px;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.header__title {
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  max-width: 550px;
  padding: 139px 0 16px;
}

.header__text {
  font-size: 50px;
  line-height: 120%;
  padding-bottom: 39px;
}

.header__advantages-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 28px;
}

.header__advantages-list-item {
  display: flex;
  gap: 19px;
}

.header__advantages-list-img {
  width: 39px;
  height: 37px;
  align-self: center;
}

.header__advantages-list-text {
  font-size: 24px;
  line-height: 110%;
  text-align: center;
}

.header__advantages-list-text-large {
  font-family: var(--accent-font, sans-serif);
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-color, #222);
  background-color: var(--text-color, #fff);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.header__button {
  padding: 32px 50px;
}

.main {
  padding-top: 100px;
}

/*TYPE*/
.type {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}

.type__wrapper {
  padding-top: 45px;
}

.type__list {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-bottom: 44px;
}

.type__list-item {
  display: flex;
  gap: 20px;
  border-block-end: 1px solid var(--line-color, #d5c9be);
  padding-bottom: 30px;
}

.type__list-item:last-child {
  border-block-end: none;
}

.type__list-img {
  width: 58px;
  height: 47px;
}

.type__list-text {
  font-size: 24px;
  line-height: 140%;
}

.type__button {
  width: 100%;
  padding: 24px 0;
  font-weight: 700;
  font-size: 20px;
}

/*CONTACT-FORM*/
.contact-form {
  position: relative;
  margin: 0 auto;
  width: 1597px;
  height: 628px;
  background-color: #fff;
  border: 2px solid #d5c9be;
  border-radius: 30px;
}

.contact-form__container {
  margin-left: 134px;
  margin-top: 73px;
}

.contact-form__title {
  padding-bottom: 42px;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  color: var(--form-title-color, #38535d);
  max-width: 419px;
}

.form-group {
  max-width: 781px;
  width: 100%;
}
.input {
  width: 100%;
  height: 65px;
  border: 2px solid var(--border-color, #d6d6d6);
  font-size: 24px;
  line-height: 150%;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
  padding: 14px 0 14px 38px;
}

.input::placeholder {
  opacity: 0.7;
  color: var(--checkbox-text-color, #55565a);
}
.form-group-checkbox {
  padding-top: 18px;
  padding-bottom: 26px;
}

.form-group__label-checkbox {
  display: flex;
  gap: 16px;
}

.form-group__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #405d65;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.checkbox-text {
  font-size: 19px;
  line-height: 130%;
  color: var(--checkbox-text-color, #55565a);
}

.contact-form__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("/images/bg-form.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  z-index: 1;
}

.contact-form::after {
  content: "";
  position: absolute;
  bottom: -91px;
  right: 91px;
  width: 599px;
  height: 903px;
  background-image: url("/images/girl.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  transform: translateY(5%);
  z-index: 2;
  pointer-events: none;
}

.form-group__button {
  background-color: var(--bg-color, #282829);
  color: var(--text-color, #fff);
  width: 100%;
  padding: 32px 0;
  font-size: 24px;
  line-height: 150%;
}

.contact-form-wrapper {
  position: relative;
  overflow: hidden;
  background-color: var(
    --bg-color,
    #282829
  );
  padding-top: 100px;
}

/*NAVIGATE*/
.navigate {
  margin: 100px 0 43px 0;
  border-top: solid 2px var(--line-color, #d5c9be);
  border-bottom: solid 2px var(--line-color, #d5c9be);
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.nav__list-item {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 30px 0;
}

/*FOOTER*/
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 184px;
}

.footer__logo {
  margin-left: -25px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 55px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

.footer__button {
  padding: 25px 52px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

.footer__copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px 183px 53px 160px;
}

.footer__copyright {
  font-size: 20px;
  line-height: 150%;
}

.footer__privacy-policy {
  font-size: 20px;
  line-height: 150%;
  color: var(--line-color, #d5c9be);
}

.footer__terms-of-use {
  font-size: 20px;
  line-height: 150%;
  color: var(--line-color, #d5c9be);
}
